@page "/"

<PageTitle>Home</PageTitle>

<h1>Alternative multi-select demo</h1>

<p> 
    The multiselect demo page demonstrates an alternative component for
    performing multiple selections from a list. Te intent is that this
    replace the Radzen drop-downs which have limitations cause by overlaying
    each other.
</p>
